
.Start{
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.presentation{
    display:flex ;
    width: 100%;
    
}
.textStart{
    width: 30%;

    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family:  'Roboto', sans-serif;

}

.links{
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
  
   
}
.menu{ 
    color: #fff;
    font-size: 1.4rem;
    font-family:  'Roboto', sans-serif;
    
}
.button{
    padding: 1rem;
    width: 17rem;
    background-color: var(--base-color);
    box-shadow: 0px 6px 20px rgba(255, 0, 0, 0.5);
    color: white;
    
    font-size: 1.5rem;
  
    border: none;
    border-radius: 1rem;
    
    cursor: pointer;
    
    transition: 0.3s;
    
    margin-top: 6rem;
    margin-left: 4rem;
}

img{
    width: 100%;
    height: 100%;
}