
.Start{
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.presentation{
    display:flex ;
    width: 100%;
    
}
.textStart{
    width: 30%;

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:  'Roboto', sans-serif;

}
.textStart p{
    text-align: center;
}


.links{
    height: 10rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

}
.menu{ 
    color: #fff;
    font-size: 1.4rem;
    font-family:  'Roboto', sans-serif;
    
}
.buttonStart{
    padding: 1rem;
   
    background-color: var(--base-color);
    box-shadow: 0px 6px 20px rgba(255, 0, 0, 0.5);
    color: white;
    
    font-size: 1.5rem;
  
    border: none;
    border-radius: 1rem;
    
    cursor: pointer;
    
    transition: 0.3s;
    
}
.buttonStart:hover{
    background-color: var( --color-secondary);
}

img{
    width: 100%;
    height: 100%;
}