*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-decoration-color: unset;
}
:root{
    --base-color: #CF3031;
}
span{
    color: var(--base-color);
}

.title{
    font-size: 2rem;
     font-Family: 'Roboto', sans-serif;
    font-weight: 900;
}
