* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-decoration-color: unset;
    text-decoration-line: unset;
    font-family: 'Roboto', sans-serif;
}

:root {
    --base-color: #25dfdf;
    --color-secondary: #026a8a;
}

span {
    color: var(--base-color);
}

.title {
    font-size: 2rem;
    font-weight: 900;
}

.container {
    margin: 1rem;
    margin-top: 2rem;


}