.SectionDelivery{
    margin-top: 2rem;
}


.Tiltebox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerDelivery{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}